:host ::ng-deep .p-dropdown {
    width: 100%;
}
span {
    margin-top: 50px;
}

label {
    margin: 5px;
}

.lbl,
.inp {
    display: block;
    width: 100%;
}

.p-fieldc {
    // margin-right: 20px;
    width: 50%;
}

.field-codes,
.field-categories, .field-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border: 2px solid;
    border-radius: 25px;
}

.switches {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer button {
    display: inline;
    margin-inline: 40px;
    align-content: flex-end;
}

.invalid {
    color: red;
}

.err {
    display: inline;
    color: red;
}