<div class="contenido">
    <p-messages [(value)]="msg">ss</p-messages>
    <div class="mensajes">
        <p-messages></p-messages>
    </div>
    <form [formGroup]="productoForm">
        <div class="field-codes">
            <div class="p-fieldc" style="margin-right: 20px;">
                <label><b>Codigo principal <p class="lbl err">*</p></b></label>
                <input type="text" pInputText class="inp" required autofocus autocomplete="off"
                    formControlName="codigo" />
                <small class="invalid" *ngIf="errores.has('codigo')">{{errores.get('codigo')}}</small>
            </div>
            <div class="p-fieldc">
                <label><b>Codigo aux <p class="lbl err"></p></b></label>
                <input type="text" pInputText class="inp" autofocus autocomplete="off" formControlName="codigo_aux" />
                <small class="invalid" *ngIf="errores.has('codigo_aux')">{{errores.get('codigo_aux')}}</small>
            </div>
        </div>
        <div class="p-field">
            <label><b>Nombre producto<p class="lbl err">*</p></b></label>
            <input type="text" pInputText class="inp" required autofocus autocomplete="off"
                formControlName="nombreProducto" />
            <small class="invalid" *ngIf="errores.has('nombreProducto')">{{errores.get('nombreProducto')}}</small>
        </div>
        <div class="p-field">
            <label for="name"><b>Descripcion <p class="lbl err"></p></b></label>
            <input type="text" pInputText class="inp" autofocus autocomplete="off" formControlName="descripcion" />
            <small class="invalid" *ngIf="errores.has('descripcion')">{{errores.get('descripcion')}}</small>
        </div>

        <div>
            <div class="p-field">
                <label for="locale-us"><b>Precio <p class="lbl err">*</p></b></label>
                <p-inputNumber formControlName="precio" class="inp" inpudId="locale-us" mode="decimal" locale="en-US"
                    [minFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>
        <!-- combo de categorias y subcategorias -->
        <div class="field-categories">
            <div class="p-fieldc" style="margin-right: 20px;">
                <label><b>Categoria <p class="lbl err">*</p></b></label>
                <p-dropdown [options]="categories" formControlName="categoria" class="inp" optionLabel="descripcion"
                    [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una categoria"
                    (onChange)="listarSubCategorias(this.productoForm.value['categoria'].idCategoria)">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="productoForm.value['categoria']">
                            <div>{{this.productoForm.value['categoria'].descripcion}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-cat pTemplate="item">
                        <div>
                            <div>{{cat.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="invalid" *ngIf="errores.has('categoria')">{{errores.get('categoria')}}</small>
            </div>
            <!-- Sub categorias -->
            <div class="p-fieldc" style="margin-right: 20px;">
                <label><b>Subcategoria <p class="lbl err">*</p></b></label>
                <p-dropdown [options]="subCategorie" formControlName="subCategoria" class="inp"
                    optionLabel="descripcion" [filter]="true" filterBy="descripcion" [showClear]="true"
                    placeholder="Seleccione una subcategoria">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="productoForm.value['subCategoria']">
                            <div>{{this.productoForm.value['subCategoria'].descripcion}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-subCat pTemplate="item">
                        <div>
                            <div>{{subCat.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="invalid" *ngIf="errores.has('categoria')">{{errores.get('categoria')}}</small>
            </div>
        </div>
        <!-- combo de unidad de medida y marca -->
        <!-- combo de marca -->
        <div class="field-div">
            <div class="p-fieldc" style="margin-right: 20px;">
                <label><b>Marca <p class="lbl err">*</p></b></label>
                <p-dropdown [options]="marcas" formControlName="marca" class="inp" optionLabel="descripcion"
                    [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una marca">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="productoForm.value['marca']">
                            <div>{{this.productoForm.value['marca'].descripcion}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-marca pTemplate="item">
                        <div>
                            <div>{{marca.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="invalid" *ngIf="errores.has('marca')">{{errores.get('marca')}}</small>
            </div>
            <!-- Unidad de medida -->
            <div class="p-fieldc" style="margin-right: 20px;">
                <label><b>Unidad de medida <p class="lbl err">*</p></b></label>
                <p-dropdown [options]="unidadMedidas" formControlName="unidadMedida" class="inp" optionLabel="descripcion"
                    [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una U. medida">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="productoForm.value['unidadMedida']">
                            <div>{{this.productoForm.value['unidadMedida'].descripcion}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-Umed pTemplate="item">
                        <div>
                            <div>{{Umed.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="invalid" *ngIf="errores.has('unidadMedida')">{{errores.get('unidadMedida')}}</small>
            </div>
        </div>

        <div class="switches">
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox" formControlName="estado">
                <div class="toggle-switch"></div>
                <span class="toggle-label">Estado: {{productoForm.value['estado']}}</span>
            </label>
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox" formControlName="iva">
                <div class="toggle-switch"></div>
                <span class="toggle-label">IVA: {{productoForm.value['iva']}}</span>
            </label>
            <label class="toggle">
                <input class="toggle-checkbox" type="checkbox" formControlName="inventariable">
                <div class="toggle-switch"></div>
                <span class="toggle-label">Inventarible: {{productoForm.value['inventariable']}}</span>
            </label>
        </div>

    </form>
</div>
<div class="footer">
    <button class="buttons p-button-success" [disabled]="!productoForm.valid?true:false" type="button"
        (click)="saveProducto()" pButton icon="pi pi-plus" label="Guardar"></button>
    <button class="buttons p-button-danger" type="button" (click)="dismissDialog()" pButton icon="pi pi-plus"
        label="Cancelar"></button>
</div>