<p>marca works! prueba</p>

<div class="m-3 header">
    <button type="button" (click)="showDialog({})" pButton icon="pi pi-plus" label="Nuevo"></button>
</div>
<div class="card">
    <div class="tabla">
        <p-table #dt1 [value]="marcaList" [paginator]="true" [rows]="rowsPerPage" [lazy]="true"
            [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}" [totalRecords]="totalRecords"
            (rowsChange)="onSelectRowChange($event)" (firstChange)="onFirtsChange($event)"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">

            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear" class="p-button-outlined mx-3" (click)="clearFilter()"
                        icon="pi pi-filter-slash"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filtrarPorQuery($event)" [(ngModel)]="query"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20%">ID</th>
                    <th style="width:20%">Descripcion</th>
                    <th style="width:20%">Estado</th>
                    <th style="width:20%;">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-marca>
                <tr>
                    <td>{{marca.idMarca}}</td>
                    <td>{{marca.descripcion}}</td>
                    <td>{{marca.estado?'Activo':'Inactivo'}}</td>
                    <td>
                        <button pButton (click)="showDialog(marca)"
                            class="p-button-raised p-button-rounded p-button-help btn_action mx-3" type="button"
                            icon="pi pi-pencil" iconPos="left"></button>
                        <button pButton class="p-button-raised p-button-rounded p-button-danger btn_action"
                            type="button" icon="pi pi-trash" iconPos="left"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Formulario de Marcas" (onHide)="dismissDialog()" position="center" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}">
    <div class="mensajes">
        <p-messages></p-messages>
    </div>
    <form [formGroup]="marcaForm">
        <div class="p-field">
            <label for="name"><b>Descripcion</b></label>
            <input type="text" pInputText class="inputtext" id="name" required autofocus autocomplete="off"
                formControlName="descripcion" />
            <small class="invalid" *ngIf="errores.has('descripcion')">{{errores.get('descripcion')}}</small>
        </div>
        <div>
            <label for="estado"><b>Estado de la unidad de medida</b></label>
            <p-toggleButton id="estado" onLabel="Activo" offLabel="Inactivo" formControlName="estado"></p-toggleButton>
        </div>
    </form>
    <div class="footer">
        <button class="buttons p-button-success" type="button" (click)="saveMarca()" pButton icon="pi pi-plus"
            label="Guardar"></button>
        <button class="buttons p-button-danger" type="button" (click)="dismissDialog()" pButton icon="pi pi-plus"
            label="Cancelar"></button>
    </div>
</p-dialog>