<h1 class="tittle">Modulo: Almacen - Unidad de Medida</h1>
<div class="header">
    <button type="button" (click)="show({})" pButton icon="pi pi-plus" label="Nuevo"></button>
</div>
<div class="card">
    <div class="tabla">
        <p-table [value]="unidadMedidaList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{'min-width': '50rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20%">ID</th>
                    <th style="width:20%">Abreviacion</th>
                    <th style="width:20%">Descripcion</th>
                    <th style="width:20%">Estado</th>
                    <th style="width:20%;">Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-unidadMedidaList>
                <tr>
                    <td>{{unidadMedidaList.idUnidadMedida}}</td>
                    <td>{{unidadMedidaList.abreviacion}}</td>
                    <td>{{unidadMedidaList.descripcion}}</td>
                    <td>{{unidadMedidaList.estado?'Activo':'Inactivo'}}</td>
                    <td>
                        <button pButton (click)="show(unidadMedidaList)" class="p-button-raised p-button-rounded p-button-help btn_action" type="button" icon="pi pi-pencil" iconPos="left"></button>   
                        <button pButton class="p-button-raised p-button-rounded p-button-danger btn_action" type="button" icon="pi pi-trash" iconPos="left"></button>   
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</div>
<h5>Implicit Pagination</h5>