.card{
margin: 20px;
}
.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabla{
    min-height: 500px;
}
.header{
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
}
.btn_action{
    margin-left: 10px;
}