span{
    margin-top: 50px;
}
label{
    margin: 5px;
}
label, input{
    display: block;
}
.inputtext{
    width: 100%;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border: 2px solid;
    border-radius: 25px;
}

.footer button{
    display: inline;
    margin-inline: 40px;
    align-content: flex-end;
}

.invalid{
    color: red;
}