.button-group{
   border: 1px solid;
   padding: 10px;
   border-radius: 20px;
}
.button-group-btn{
   padding: 0 1rem 0 0;
}
.content{
   margin: 1rem 0 1rem 0;
}
.button-client{
   margin-left: 1rem;
   margin-right: 1rem;
}